# Python
__pycache__
.venv

# Terraform
*.tfplan
*.tfstate
*.tfstate.*
# Local .terraform directories
**/.terraform/*

# Exclude .tfvars files, which are likely to contain sensitive data.
*.tfvars
*.tfvars.json
